.styleInput{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 1vw;
}
.styleBtn{
    margin-left: 1em;
    font-size: 25px;
    margin-top: 1vw;

}
.styleBtn:hover{
    cursor: pointer;
}
.styleUl{

}


body{
    background: linear-gradient(90deg,#0048fd,#18104d);
    height: 100vh;
}

.styleDiv{
    margin-left: 1.5em;
    font-size: 30px;



}

#remove{
    background: red;
    font-size: 18px;

}

#remove:hover{
    cursor: pointer;
}

#edit{
    font-size: 18px;
    background-color:beige;

}
#edit:hover{
    cursor: pointer;
}