.styleInput{
    display: flex;
    justify-content: center;
    align-items: center;
}
.styleBtn{
    margin-left: 1em;
}
.styleUl{

}


body{
    background: linear-gradient(#009FFD,#2A2A72) no-repeat;
    height: 100vh;
}
